

/* call the paret class */

.parentdivishere{
    border: 1px solid red;

    /* display flex  is horizental */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 100px;
    padding-right: 100px;
}

.displayuflex{
    display: flex;
    gap: 20px;
    list-style: none;
}